/*
 * styles.css
 *
 * Tasks:
 * 1. Define the overall style for the application.
 * 2. Ensure consistent design across all pages.
 */

 /*
    Color Palette

    blue #3b93bd
    lighter blue #7cb6d1
    lightest blue (lettering) #c2d2da
    dark blue #164960
    black #061411

 */

/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #c2d2da;
}

/* Header styles */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #164960;
    box-shadow: 0px 5px 5px #06141180;
    position: relative;
    z-index: 10;
}

.logo h1 {
    font-size: 24px;
    color: #c2d2da;
}

.logo a {
    text-decoration: none;
    color: inherit;
  }

.logo a:hover {
    text-decoration: underline;
    color: #c2d2da;
  }

.user-action {
    font-size: 16px;
}

.user-action a {
    text-decoration: none;
    color: #c2d2da;
}

.user-action a:hover {
    text-decoration: underline;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* Footer styles */
footer {
    background-color: #c2d2da;
    text-align: center;
    color: #061411;
    position: relative;
    box-shadow: 0px -5px 5px #06141180;
    border-top: 2px solid #7cb6d1;
    padding: 3px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    border-top: 2px solid #7cb6d1;
    border-bottom: 2px solid #7cb6d1;
}

.footer-column {
    flex: 1;
    min-width: 150px;
    margin: 10px;
    text-align: left;
}

.footer-column h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-column p {
    font-size: 14px;
    margin: 5px 0;
}

.footer-column i {
    margin-right: 5px;
    color: #061411;
}

.footer-column a {
    text-decoration: none;
    color: #061411;
}

.footer-column a:hover {
    text-decoration: underline;
    color: #7cb6d1;
}

.footer-rights {
    font-size: 12px;
    position: absolute;
    top: 5px;
    right: 10px;
    margin: 0;
    text-align: right;
}

.footer-class {
    font-size: 12px;
    position: absolute;
    top: 5px;
    left: 10px;
    margin: 0;
    text-align: right;
}

@media (max-width: 675px) {
    .footer-rights, .footer-class {
        display: none;
    }
}

/* map styles */
#map {
    width: 100%;
    height: 100%;
  }

/* Sign-in/Register styles */
#signin-container {
    background-color: #ffffff;
    padding: 2rem;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    max-height: 500px;
    width: 90%;
    text-align: center;
    border: 2px solid #164960;
}

.page-title {
    font-size: 1.8rem;
    color: #164960;
    margin-bottom: 1rem;
}

/* Form elements */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.0rem;
}

.form-group {
    width: 100%;
    text-align: left;
}

label {
    display: block;
    font-size: 1.2rem;
    color: #164960;
    margin-bottom: 0.5rem;
}

input {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    border: 1px solid #164960;
    border-radius: 5px;
    outline: none;
}

input:focus {
    border-color: #164960;
    box-shadow: 0px 0px 5px rgba(22, 73, 96, 0.5);
}

button {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #164960;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #122f3e;
}

button:active {
    background-color: #122f3e;
}

#log_in_form .form-group a {
    display: block;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #164960;
    text-decoration: none;
    transition: color 0.3s ease;
}

#log_in_form .form-group a:hover {
    color: #3b93bd;
    text-decoration: underline;
}

