/*
 * styles.css
 *
 * Tasks:
 * 1. Define the overall style for the application.
 * 2. Ensure consistent design across all pages.
 */

/*
    Color Palette

    blue #3b93bd
    lighter blue #7cb6d1
    lightest blue (lettering) #c2d2da
    dark blue #164960
    black #061411

 */

/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #c2d2da;
  }

  /* Header styles */

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: var(--background_color);
    box-shadow: 0px 5px 5px #06141180;
    position: relative;
    z-index: 10;
  }

  .logo h1 {
    font-size: 24px;
    color: #c2d2da;
  }

  .logo a {
    text-decoration: none;
    color: inherit;
  }

  .logo a:hover {
    text-decoration: underline;
    color: #c2d2da;
  }

  .user-action {
    font-size: 16px;
  }

  .user-action a {
    text-decoration: none;
    color: #c2d2da;
  }

  .user-action a:hover {
    text-decoration: underline;
  }

  html,
  body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
  }

  /* Footer styles */
  footer {
    background-color: #c2d2da;
    text-align: center;
    color: #061411;
    position: relative;
    box-shadow: 0px -5px 5px #06141180;
    border-top: 2px solid var(--border_color);
    padding: 3px 0;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    border-top: 2px solid var(--border_color);
    border-bottom: 2px solid var(--border_color);
  }

  .footer-column {
    flex: 1;
    min-width: 150px;
    margin: 10px;
    text-align: left;
  }

  .footer-column h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .footer-column p {
    font-size: 14px;
    margin: 5px 0;
  }

  .footer-column i {
    margin-right: 5px;
    color: #061411;
  }

  .footer-column a {
    text-decoration: none;
    color: #061411;
  }

  .footer-column a:hover {
    text-decoration: underline;
    color: #7cb6d1;
  }

  .footer-rights {
    font-size: 12px;
    position: absolute;
    top: 5px;
    right: 10px;
    margin: 0;
    text-align: right;
  }

  .footer-class {
    font-size: 12px;
    position: absolute;
    top: 5px;
    left: 10px;
    margin: 0;
    text-align: right;
  }

  @media (max-width: 675px) {
    .footer-rights,
    .footer-class {
      display: none; /* Hide these elements */
    }
  }

  /* map styles */
  #map {
    width: 100%;
    height: 100%;
  }

  :root {
    --color: #c2d2da;
    --primary_color: #061411;
    --background_color: #164960;
    --border_color: #7cb6d1;
    --medium_padding: 1em;
    --large_font_size: 2em;
    --small_size: 0.5em;
  }

  header .navigation ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: var(--background_color);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 5px #06141180;
    position: relative;
    z-index: 10;
  }

  header .navigation ul li {
    display: inline;
  }

  header .navigation ul li a {
    text-decoration: none;
    background-color: var(--background_color);
    color: var(--color);
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 5px #06141180;
    position: relative;
    z-index: 10;
  }

  h2 {
    color: var(--color);
    background-color: var(--background_color);
    border-bottom: 2px solid var(--border_color);
    display: inline-block;
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 5px #06141180;
    position: relative;
    z-index: 10;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
  }

  thead {
    background-color: var(--background_color);
    color: white;
  }

  th,
  td {
    padding: 0.75rem;
    text-align: left;
    border: 1px solid #dee2e6;
  }

  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tbody tr:hover {
    background-color: #e9ecef;
  }

  td:last-child {
    font-weight: bold;
  }

  @media (max-width: 768px) {
    table {
      font-size: 0.9rem;
    }
    th,
    td {
      padding: 0.5rem;
    }
  }

  #chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 800px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  }

  #chart-container canvas {
    max-width: 100%;
    height: auto;
  }

  /* Chart Section Header */
  section h2 {
    text-align: center;
    color: #3b93bd;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
  }

  /* Sign-in styles */
  #signin-container {
    background-color: #ffffff;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    max-height: 550px;
    text-align: center;
    padding: 3vh;
  }

  .page-title {
    font-size: 1.8rem;
    color: #164960;
    margin-bottom: 1rem;
  }

  /* Form elements */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .form-group {
    width: 100%;
    text-align: left;
  }

  label {
    display: block;
    font-size: 1.2rem;
    color: #164960;
    margin-bottom: 0.5rem;
  }

  input {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    border: 1px solid #164960;
    border-radius: 5px;
    outline: none;
  }

  input:focus {
    border-color: #164960;
    box-shadow: 0px 0px 5px rgba(22, 73, 96, 0.5);
  }

  button {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #164960;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #122f3e;
  }

  button:active {
    background-color: #122f3e;
  }

  #log_in_form .form-group a {
    display: block;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #164960;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  #log_in_form .form-group a:hover {
    color: #3b93bd;
    text-decoration: underline;
  }

  /* Signup page styles */
  #signup-container {
    background-color: #ffffff;
    padding: 2rem;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    max-height: 650px;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    overflow: hidden;
  }

  .signup-page-title {
    font-size: 1.5rem;
    color: #164960;
    margin-bottom: 0.5rem;
  }

  /* Signup form styles */
  .signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .signup-form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
    width: 100%;
  }

  .signup-form-group {
    flex: 1 1 calc(50% - 1.5rem);
    text-align: left;
  }

  .signup-form-group p {
    color: #164960;
    text-align: center;
  }

  .signup-label {
    display: block;
    font-size: 1.2rem;
    color: #164960;
    margin-bottom: 0.5rem;
  }

  .signup-input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 1px solid #164960;
    border-radius: 5px;
    outline: none;
  }

  .signup-input:focus {
    border-color: #164960;
    box-shadow: 0px 0px 5px rgba(22, 73, 96, 0.5);
  }

  .signup-button {
    width: 400px;
    padding: 1rem;
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #164960;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
  }

  .signup-button:hover {
    background-color: #122f3e;
  }

  .signup-button:active {
    background-color: #122f3e;
  }

  .error-messages {
    color: red;
    background-color: #fdd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
  }

  .error-messages ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  /* profile icon styles */
  .profile-link .profile-icon {
    font-size: 2rem;
    margin-right: 10px;
    vertical-align: middle;
  }

  .profile-link {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    color: var(--color);
  }

  .profile-link:hover {
    text-decoration: underline;
  }

  /* Profile Page Styles */
  #profile-container {
    background-color: #ffffff;
    padding: 2rem;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    max-height: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .profile-title {
    font-size: 1.8rem;
    color: #164960;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  .profile-info {
    font-size: 1.2rem;
    color: #061411;
    margin: 0.5rem 0;
    word-wrap: break-word;
    color: #164960;
  }

  .profile-admin {
    font-size: 1.4rem;
    color: #3b93bd;
    font-weight: bold;
  }

  .profile-logout-button {
    width: 150px;
    padding: 1rem;
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #164960;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .profile-logout-button:hover {
    background-color: #122f3e;
  }

  .profile-logout-button:active {
    background-color: #122f3e;
  }

  /* Error Page Styles */
.error-container {
    display: flex;
    background-color: #ffffff;
    padding: 2rem;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 400px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  }

  .error-container h1 {
    font-size: 6rem;
    font-weight: bold;
    color: var(--primary_color);
    margin-bottom: 1rem;
  }

  .error-container p {
    font-size: 1.5rem;
    color: var(--primary_color);
    margin-bottom: 1.5rem;
  }

  /* About Page Styles */
  .about-container {
    display: flex;
    background-color: #ffffff;
    padding: 2rem;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: fit-content;
    max-width: fit-content;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  }

  .about-container h1 {
    font-size: 3rem;
    font-weight: bold;
    color: var(--primary_color);
    margin-bottom: 1rem;
  }

  .about-container p {
    font-size: 1.5rem;
    color: var(--primary_color);
    margin-bottom: 1.5rem;
  }