

<footer>
    <h3>Contact Us</h3>
    <div class="footer-container">
        <div class="footer-column">
          <h4>Ismail Gul</h4>
          <p>
            <i class="fas fa-envelope"></i>
            <a href="mailto:igul@stevens.edu">igul@stevens.edu</a>
          </p>
          <p>
            <i class="fab fa-github"></i>
            <a href="https://github.com/igul94" target="_blank">GitHub</a>
          </p>
        </div>
        <div class="footer-column">
          <h4>Dimitri Haralampopoulos</h4>
          <p>
            <i class="fas fa-envelope"></i>
            <a href="mailto:dharalam@stevens.edu">dharalam@stevens.edu</a>
          </p>
          <p>
            <i class="fab fa-github"></i>
            <a href="https://github.com/dharalam" target="_blank">GitHub</a>
          </p>
        </div>
        <div class="footer-column">
          <h4>Vincent Pennachio</h4>
          <p>
            <i class="fas fa-envelope"></i>
            <a href="mailto:vpennach@stevens.edu">vpennach@stevens.edu</a>
          </p>
          <p>
            <i class="fab fa-github"></i>
            <a href="https://github.com/vpennach" target="_blank">GitHub</a>
          </p>
        </div>
        <div class="footer-column">
          <h4>Vaibhavi Shah</h4>
          <p>
            <i class="fas fa-envelope"></i>
            <a href="mailto:vshah6@stevens.edu">vshah6@stevens.edu</a>
          </p>
          <p>
            <i class="fab fa-github"></i>
            <a href="https://github.com/vaibhavishah04" target="_blank">GitHub</a>
          </p>
        </div>
        <div class="footer-column">
          <h4>Thys Vanderschoot</h4>
          <p>
            <i class="fas fa-envelope"></i>
            <a href="mailto:tvander1@stevens.edu">tvander1@stevens.edu</a>
          </p>
          <p>
            <i class="fab fa-github"></i>
            <a href="https://github.com/RegalTurtle" target="_blank">GitHub</a>
          </p>
        </div>
    </div>
    <div class= "footer-rights">
        <p>&copy; 2024 NJ FloodNet. All Rights Reserved.</p>
    </div>
    <div class= "footer-class">
        <p>Stevens Institute of Technology CS-546 Final Project</p>
    </div>
</footer>
