<header>
  <div class="header-container">
    <div class="logo">
      <a href="/">
        <h1>NJ FloodNet</h1>
      </a>
    </div>
    <div class="user-action">
      <% if (user) { %>
        <a href="/users/profile" class="profile-link">
          <i class="profile-icon">👤</i> <%= user.username %>
        </a>
      <% } else { %>
        <a href="/signin">Sign in</a>
      <% } %>
    </div>
    
  </div>
</header>


