<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <title>NJ FloodNet</title>
  </head>

  <body>
    <header><%- include('../partials/header'); %></header>

    <main>This is some main text</main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
