<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css" />

    <title>NJ FloodNet</title>
  </head>

  <body>
    <header><%- include('../partials/header'); %></header>

    <h1>This is a sign in page</h1>

    <p>Hello <%- userInfo.username %></p>
    <% if (userInfo.isAdmin) { %>
    <p>You are an admin</p>
    <% } %>

    <footer>
      This is a footer, maybe to be replaced with an include as above
    </footer>
  </body>
</html>
