<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.css" rel="stylesheet">

    <title>NJ FloodNet</title>
  </head>

  <body>
    <div><%- include('../partials/header'); %></div>

    <header>

      <div class="logo">
      </div>
      <nav class="navigation">
        <ul>
          <li><a href="/">Map</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/about">About FloodNet</a></li>
        </ul>
      </nav>
        <!--<h1>NJ Flood Net</h1>
        <p>Tracking and mitigating flood risks in New Jersey</p> -->
    </header>
    <body>
        <form id ="reporting_form" method="POST" action="/reporting">

            <label for="sensorList">Sensor Name:</label>
            <select id ="sensorId" name = "sensorId" class="select">
                <option value =""></option>
            </select>
            <label for="errorCode">Error Code:</label>
            <input type="text" id="errorCode" name="errorCode" class="inputs">
            <br>

            <label for="voltage">voltage:</label>
            <input type="text" id="voltage" name="voltage" class="inputs">
            <br>

            <label for="distanceMm">distanceMm:</label>
            <input type="text" id="distanceMm" name="distanceMm" class="inputs">
            <br>
            <label for="rainAccMm">rainAccMm:</label>
            <input type="rainAccMm" id="rainAccMm" name="rainAccMm" class="inputs">
            <br>

            <label for="eventAccMm">eventAccMm:</label>
            <input type="text" id="eventAccMm" name="eventAccMm" class="inputs">
            <br>

            <label for="totalAccmm">totalAccmm:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="inputs">
            <br>

            <label for="rainIntencity">Rain Intencity:</label>
            <input type="text" id="rainIntencity" name="rainIntencity" class="inputs">
            <br>

            <label for="decodedDump">Decoded Dump:</label>
            <input type="text" id="decodedDump" name="decodedDump" class="inputs">
            <br>

            <button type="submit" id="submitButton" name="submitButton">Sign up</button>

        </form>
    </body>
    <div><%- include('../partials/footer'); %></div>

</body>
</html>
