<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.css" rel="stylesheet">

    <title>NJ FloodNet</title> 
  </head>

  <body>
    <div><%- include('../partials/header'); %></div>

    <header>

      <div class="logo">
      </div>
      <nav class="navigation">
        <ul>
          <li><a href="/">Map</a></li>
          <li><a href="/about">About FloodNet</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav>
        <!--<h1>NJ Flood Net</h1> 
        <p>Tracking and mitigating flood risks in New Jersey</p> -->
    </header>
    <div><%- include('../partials/footer'); %></div>

</body>
</html>
