<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css" />

    <title>Create Account</title>
  </head>

  <body>
    <header><%- include('../partials/header'); %></header>

    <main id="signup-container">
      <h1 class="signup-page-title">Create Your Account</h1>

      <form class="signup-form" method="POST" action="/signup">
        <div class="signup-form-row">
          <div class="signup-form-group">
            <label class="signup-label" for="username">Username:</label>
            <input class="signup-input" type="text" id="username" name="username" required />
          </div>

          <div class="signup-form-group">
            <label class="signup-label" for="email">Email:</label>
            <input class="signup-input" type="email" id="email" name="email" required />
          </div>
        </div>

        <div class="signup-form-row">
          <div class="signup-form-group">
            <label class="signup-label" for="city">City:</label>
            <input class="signup-input" type="text" id="city" name="city" required />
          </div>

          <div class="signup-form-group">
            <label class="signup-label" for="state">State:</label>
            <input class="signup-input" type="text" id="state" name="state" required />
          </div>
        </div>

        <div class="signup-form-row">
          <div class="signup-form-group">
            <label class="signup-label" for="firstName">First Name:</label>
            <input class="signup-input" type="text" id="firstName" name="firstName" required />
          </div>

          <div class="signup-form-group">
            <label class="signup-label" for="lastName">Last Name:</label>
            <input class="signup-input" type="text" id="lastName" name="lastName" required />
          </div>
        </div>

        <div class="signup-form-row">
          <div class="signup-form-group">
            <label class="signup-label" for="password">Password:</label>
            <input class="signup-input" type="password" id="password" name="password" required />
          </div>

          <div class="signup-form-group">
            <label class="signup-label" for="passwordConf">Confirm Password:</label>
            <input class="signup-input" type="password" id="passwordConf" name="passwordConf" required />
          </div>
        </div>

        <div class="signup-form-group">
          <button type="submit" class="signup-button" id="submit_button">Sign Up</button>
        </div>
      </form>
    </main>
  </body>
</html>

