<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css" />

    <title>Create Account</title>
  </head>

  <body>
    <header><%- include('../partials/header'); %></header>

    <main id="signup-container">
      <h1 class="signup-page-title">Create Your Account</h1>

      <form class="signup-form" method="POST" action="/signup">
        <div class="signup-form-row">
          <div class="signup-form-group">
            <label class="signup-label" for="username">Username:</label>
            <input class="signup-input" type="text" id="username" name="username" required />
          </div>

          <div class="signup-form-group">
            <label class="signup-label" for="email">Email:</label>
            <input class="signup-input" type="email" id="email" name="email" required />
          </div>
        </div>

        <div class="signup-form-row">
          <div class="signup-form-group">
            <label class="signup-label" for="city">City:</label>
            <input class="signup-input" type="text" id="city" name="city" required />
          </div>

          <div class="signup-form-group">
            <label class="signup-label" for="state">State:</label>
            <select class="signup-input" id="state" name="state" required>
              <option value="" disabled selected>Select your state</option>
              <option value="AL">Alabama - AL</option>
              <option value="AK">Alaska - AK</option>
              <option value="AZ">Arizona - AZ</option>
              <option value="AR">Arkansas - AR</option>
              <option value="CA">California - CA</option>
              <option value="CO">Colorado - CO</option>
              <option value="CT">Connecticut - CT</option>
              <option value="DE">Delaware - DE</option>
              <option value="FL">Florida - FL</option>
              <option value="GA">Georgia - GA</option>
              <option value="HI">Hawaii - HI</option>
              <option value="ID">Idaho - ID</option>
              <option value="IL">Illinois - IL</option>
              <option value="IN">Indiana - IN</option>
              <option value="IA">Iowa - IA</option>
              <option value="KS">Kansas - KS</option>
              <option value="KY">Kentucky - KY</option>
              <option value="LA">Louisiana - LA</option>
              <option value="ME">Maine - ME</option>
              <option value="MD">Maryland - MD</option>
              <option value="MA">Massachusetts - MA</option>
              <option value="MI">Michigan - MI</option>
              <option value="MN">Minnesota - MN</option>
              <option value="MS">Mississippi - MS</option>
              <option value="MO">Missouri - MO</option>
              <option value="MT">Montana - MT</option>
              <option value="NE">Nebraska - NE</option>
              <option value="NV">Nevada - NV</option>
              <option value="NH">New Hampshire - NH</option>
              <option value="NJ">New Jersey - NJ</option>
              <option value="NM">New Mexico - NM</option>
              <option value="NY">New York - NY</option>
              <option value="NC">North Carolina - NC</option>
              <option value="ND">North Dakota - ND</option>
              <option value="OH">Ohio - OH</option>
              <option value="OK">Oklahoma - OK</option>
              <option value="OR">Oregon - OR</option>
              <option value="PA">Pennsylvania - PA</option>
              <option value="RI">Rhode Island - RI</option>
              <option value="SC">South Carolina - SC</option>
              <option value="SD">South Dakota - SD</option>
              <option value="TN">Tennessee - TN</option>
              <option value="TX">Texas - TX</option>
              <option value="UT">Utah - UT</option>
              <option value="VT">Vermont - VT</option>
              <option value="VA">Virginia - VA</option>
              <option value="WA">Washington - WA</option>
              <option value="WV">West Virginia - WV</option>
              <option value="WI">Wisconsin - WI</option>
              <option value="WY">Wyoming - WY</option>
            </select>
          </div>
        </div>

        <div class="signup-form-row">
          <div class="signup-form-group">
            <label class="signup-label" for="firstName">First Name:</label>
            <input class="signup-input" type="text" id="firstName" name="firstName" required />
          </div>

          <div class="signup-form-group">
            <label class="signup-label" for="lastName">Last Name:</label>
            <input class="signup-input" type="text" id="lastName" name="lastName" required />
          </div>
        </div>

        <div class="signup-form-row">
          <div class="signup-form-group">
            <label class="signup-label" for="password">Password:</label>
            <input class="signup-input" type="password" id="password" name="password" required />
          </div>

          <div class="signup-form-group">
            <label class="signup-label" for="passwordConf">Confirm Password:</label>
            <input class="signup-input" type="password" id="passwordConf" name="passwordConf" required />
          </div>
        </div>

        <div class="signup-form-group">
          <p>Password must contain at least 1 uppercase and lowercase letter, 1 number, and 1 special character</p>
        </div>

        <div class="signup-form-group">
          <button type="submit" class="signup-button" id="submit_button">Sign Up</button>
        </div>
      </form>
    </main>
  </body>
</html>

